:root {
    --color1:#94f0f1;
    --color2:#d6dcdc;
    --color3:#6B7A8F;
    --color4:#393f4d;
    --color5:#f0ffff;
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header {
    display:flex;
    flex:1;
    width:100%;
    padding:1%;
    background-color: var(--color4);
    position:relative;
}

header h1 {
    font-size: 300%;
    background-color:var(--color1);
    padding:0.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left:1%;
    margin-left:-1%;
    color:var(--color4);
}

header nav {
    padding-top:2%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size:200%;
    font-weight: bold;
    position:absolute;
    bottom:1%;
    right:0%;
}

header li {
    float:right;
    margin-left:20px;
    margin-right:30px;
    list-style-type:none;
}

header a {
    color: var(--color1);
}

header a:hover {
    background-color:var(--color3);
}

main {
    display:flex;
    flex-wrap: wrap;
    flex-grow:1;
    background-color:var(--color5);
}

.image {
    background-image: url(../images/istockphoto-1341515382-612x612.jpg);
    display:flex;
    width:100%;
    margin-left:10px;
    margin-right:10px;
    height:300px;
    background-repeat:no-repeat;
    background-size: cover;
    position:relative;
}

.image p {
    height:60px;
    font-size:40px;
    font-weight:bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:10px;
    color:var(--color4);
    background-color:var(--color1);
    position:absolute;
    bottom:8px;
    right:16px;
}

.about-me {
    display:flex;
}

.projects {
    display:flex;
}

.contact-me {
    display:flex;
}

.sidebar {
    text-align:right;
    width:300px;
    border-right-style:solid;
    border-right-color:var(--color4);
    margin-top:10px;
    margin-bottom:10px;
    float:left;
}

.sidebar h2 {
    font-size:70px;
    font-weight:bold;
    margin-right:10px;
}

.content {
    flex:1;
    margin:10px 0px 10px 10px;
}

.about-me .content {
    text-align:center;
    margin:auto;
    margin-left:10px;
    margin-right:10px;
}

.about-me p {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size:18px;
    color:var(--color4);
}

.projects {
    display:flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content:center;
}

.main-box {
width: 90%;
height:400px;
margin:1%;
margin-left:2%;
border-style:solid;
border-width:3%;
border-color:var(--color1);
position:relative;
}

.frame {
width:90%;
height:400px;
padding:auto;
display:flex;
}

.box {
flex: 0 0 22%;
margin:2%;
border-style:solid;
border-width:3%;
border-color:var(--color1);
position:relative;
}

.main-box:hover, .box:hover {
    background-color:var(--color2);
}

.description {
    background-color:var(--color1);
    padding:2%;
    position:absolute;
    bottom:6%;
    left:0;
}

.top {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight:bold;
    font-size:150%;
    color:var(--color4);
}

.bottom {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color:var(--color4);
}

.contact-me .content {
margin:auto;
}

.contact-me li {
    display:inline;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    margin:2%;
    font-weight:bold;
}

.contact-me a {
    color:var(--color4);
}

.contact-me a:hover {
    background-color:var(--color2);
}

@media screen and (max-width: 1280px) {
    main,
    nav {
    }
  }

@media screen and (max-width: 768px) {
    main,
    nav {
    }
  }